// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


// fonts begin
// =======================================================
@mixin section-title-font {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.167;

  @include respond-to('small'){
    font-size: 2.25rem;
  }
}
@mixin subsec-title-font {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.167;
}
@mixin normal-text-font {
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;

  @include respond-to('small'){
    font-size: 1rem;
    line-height: 1.1875;
    font-weight: normal;
  }
}
@mixin strong-text-font {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.167;
}
@mixin emph-text-font {
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
}
@mixin card-title-font {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.167;
}

// ==============================================================
// fonts end

@mixin padding-and-margin-reset {
  padding: 0;
  margin: 0;
}

@keyframes navbar-fade {
  from{
      transform: translateX(23.4375rem);
      opacity: 0;
      
  }
  to {
      transform: translateX(0rem);
      opacity: 1;
      
  }
}