// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Main font family
/// @type List
$raleway-font-stack: 'Raleway', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


// colors
$our-green: #87DE87;
$our-gray: #333333;
$our-white: #E5E5E5;

$desktop-header-height: 6.3125rem;
$phone-header-height: 4rem;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 23.5rem, // phone
  'medium': 48rem,
  'large': 64rem, // desktop
) !default;
