body, html {
  padding: 0px;
  margin: 0px;
}

section, header, footer {
  width: 100%;
  margin: 0px;
}

.card1 {
  width: 627px;
  height: 228px;
}

.site-content {
  padding-top: 101px;
}

.header {
  position: fixed;
  background-color: #87DE87;
  height: 101px;
  z-index: 1;
}

.header .header__title-container {
  display: inline-block;
  background-color: #E5E5E5;
  position: relative;
  margin: 24px 0px 25px 108px;
}

.header .header__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 84px 31px auto;
  float: right;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.header .header__grid > .header__grid__link {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.header .header__grid .header__grid__button {
  width: 128px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.section1 {
  background-image: url("../images/background1.png");
  background-repeat: no-repeat;
  height: 640px;
}

.section1 .card1 {
  position: relative;
  left: 196px;
  top: 206px;
  display: table;
}

.section1 .card1 .card1__rectangle {
  display: table-cell;
  background-color: #87DE87;
  height: 100%;
  width: 32px;
}

.section1 .card1 .card1__article {
  display: table-cell;
  background-color: #333333;
  height: 100%;
  width: 595px;
}

.section1 .card1 .card1__article > * {
  margin: 0px 0px 0px 0px;
}

.section1 .card1 .card1__article .card1__article__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.167;
  color: #FEFEFE;
  padding: 32px 24px 24px 24px;
}

.section1 .card1 .card1__article .card1__article__p {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #FEFEFE;
  padding: 24px 19px 32px 24px;
}

.section2 .section2__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.167;
  margin: 120px auto 86px auto;
  text-align: center;
}

.section2 .card2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 86px 96px 120px 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .card2-container .card2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 552px;
          flex: 0 1 552px;
  background-color: #333333;
  margin: auto 12px auto 12px;
  padding: 32px 34px 32px 32px;
}

.section2 .card2-container .card2 .card2__sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .card2-container .card2 .card2__sec1 .card2__sec1-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 120px;
  background-image: url("../images/Ellipse 1.png");
  background-repeat: no-repeat;
  margin-right: 24px;
}

.section2 .card2-container .card2 .card2__sec1 .card2__sec1__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .card2-container .card2 .card2__sec1 .card2__sec1__titles > * {
  margin: 5px 5px 5px 5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  color: #E5E5E5;
}

.section2 .card2-container .card2 .card2__sec1 .card2__sec1__titles .card2__sec1__titles__h2 {
  font-style: italic;
  font-weight: normal;
}

.section2 .card2-container .card2 .card2__sec2 .card2__sec2__p {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.section3 {
  background-color: #333333;
  padding-top: 64px;
}

.section3 .section3__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.167;
  color: #E5E5E5;
  text-align: center;
  margin: auto auto 117px auto;
}

.section3 .section3__subsection1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto 108px 128px 252px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 480px;
}

.section3 .section3__subsection1 .section3__subsection1__article {
  margin-right: 168px;
  height: 435px;
}

.section3 .section3__subsection1 .section3__subsection1__article .section3__subsection1__article__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.167;
  color: #E5E5E5;
  margin: 0 0 12 0;
}

.section3 .section3__subsection1 .section3__subsection1__article .section3__subsection1__article__p {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.section3 .section3__subsection1 .card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .section3__subsection1 .card3 .card3__rectangle {
  width: 32px;
  height: 100%;
  background-color: #87DE87;
}

.section3 .section3__subsection2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto 252px 128px 108px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 480px;
}

.section3 .section3__subsection2 .section3__subsection2__article {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 168px;
  height: 435px;
}

.section3 .section3__subsection2 .section3__subsection2__article .section3__subsection2__article__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.167;
  color: #E5E5E5;
  margin: 0 0 12 0;
}

.section3 .section3__subsection2 .section3__subsection2__article .section3__subsection2__article__p {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.section3 .section3__subsection2 .card3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .section3__subsection2 .card3 .card3__rectangle {
  width: 32px;
  height: 100%;
  background-color: #87DE87;
}

.section3 .section3__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section3 .section3__button-container .section3__button {
  background: #87DE87;
  border-radius: 12px;
  height: 72px;
  width: 264px;
  margin: auto auto 96px auto;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.section4 {
  margin-bottom: 120px;
}

.section4 .section4__text-box {
  position: relative;
  margin: 120px auto 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .section4__text-box .section4__text-box__h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.167;
}

.section4 .section4__text-box .section4__text-box__p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  width: 840px;
  text-align: center;
}

.section4 .section4__sch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .section4__sch-box .section4__sch-box__search-bar {
  width: 696px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FEFEFE;
  border: 1px solid #FEFEFE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-left: 20px;
}

.section4 .section4__sch-box .section4__sch-box__search-bar input {
  border-width: 0px;
}

.section4 .section4__sch-box .section4__sch-box__search-bar .section4__sch-box__search-bar__button {
  width: 120px;
  height: 48px;
  background: #87DE87;
  border-radius: 12px;
  margin: 8px 8px 8px auto;
  border-width: 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
}

.section4 .section4__sch-box .section4__sch-box__search-bar ::-webkit-input-placeholder {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
}

.section4 .section4__sch-box .section4__sch-box__search-bar :-ms-input-placeholder {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
}

.section4 .section4__sch-box .section4__sch-box__search-bar ::-ms-input-placeholder {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
}

.section4 .section4__sch-box .section4__sch-box__search-bar ::placeholder {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
}

.footer1 {
  background-color: #87DE87;
  height: 424px;
  padding-top: 48px;
}

.footer1 .footer1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto auto 108px;
}

.footer1 .footer1__content .footer1__content__company-name {
  background-color: white;
  width: 223px;
  height: 78px;
  margin-bottom: 42px;
}

.footer1 .footer1__content .footer1__content__company-name svg {
  margin-top: 48px;
}

.footer1 .footer1__content .footer1__content__adresses-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 200px;
          column-gap: 200px;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__addy {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__addy .footer1__content__adresses-grid__addy__em {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__follow-us .footer1__content__adresses-grid__follow-us__em {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__follow-us .footer1__content__adresses-grid__follow-us__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-top: 18px;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__follow-us .footer1__content__adresses-grid__follow-us__icon-box .footer1__content__adresses-grid__follow-us__icon-box__icon {
  border-radius: 50%;
  background-color: #333333;
  width: 48px;
  height: 48px;
}

.footer1 .footer1__content .footer1__content__adresses-grid .footer1__content__adresses-grid__follow-us .footer1__content__adresses-grid__follow-us__icon-box .footer1__content__adresses-grid__follow-us__icon-box__icon svg {
  display: block;
  margin: auto auto auto auto;
  height: 100%;
}

.footer2 {
  background-color: #333333;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer2 .footer2__copyright {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
  margin-left: 108px;
}

.footer2 .footer2__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 108px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 36px;
          column-gap: 36px;
}

.footer2 .footer2__grid .footer2__grid__link {
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}
/*# sourceMappingURL=style.css.map */