.card2 {
    flex: 0 1 34.5rem;
    background-color: $our-gray;
    
    @include respond-to('small'){
        display: flex;
        flex-direction: column;
        flex: 0 0 0;
    }

    .card2__sec1 {
        display: flex;
        @include respond-to('small'){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .card2__sec1-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color:  $our-green;
            
            @include respond-to('small'){
                svg {
                    display: block;
                    height: 100%;                    
                }
            }
        }

        .card2__sec1__titles {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card2__sec1__titles__h1 {
                @include card-title-font();
                color: $our-white;
            }

            .card2__sec1__titles__h2 {
                @include card-title-font();
                color: $our-white;
                font-style: italic;
                font-weight: normal;

                @include respond-to('small'){
                    font-family: Raleway;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.167;
                    color:  $our-white;
                }
            }
        }
    }

    .card2__sec2 {
        .card2__sec2__p {
            @include normal-text-font();
            color: $our-white;
        }
    }

}