.footer2 {
    background-color: $our-gray;
    align-items: center;
    display: flex;
    height: 3rem;

    justify-content: space-between;

    @include respond-to('small'){
        height: auto;

        justify-content: flex-start;
        flex-direction: column-reverse;
        padding-top: 1rem;

        @include normal-text-font();
        color: $our-white;
    }

    .footer2__copyright {
        @include normal-text-font();
        color: $our-white;
        margin-left: 6.75rem;

        @include respond-to('small'){
            margin-left: 0;
            margin-bottom: 1rem;
        }
    }

    .footer2__grid {
        display: flex;

        margin-right: 6.75rem;
        justify-content: flex-end;
        column-gap: 2.25rem;
        
        @include respond-to('small'){
            width: 7.375rem;

            justify-content: space-around;
            column-gap: normal;
            margin-right: 0;
        }

        a {
            @include normal-text-font();
            color: $our-white;
        }
    }
}