.footer1 {
    height: 26.5rem;
    padding-top: 3rem;

    @include respond-to('small'){
        height: auto;
        padding-top: 0;
        
        margin-top: 3rem;
    }

    background-color: $our_green;

    .footer1__content {
        margin: auto auto auto 6.75rem;

        display: flex;
        flex-direction: column;

        @include respond-to('small'){
            margin: auto;
            align-items: center;    
        }

        .footer1__content__company-name {
            background-color: white;
            width: 13.9375rem;
            height: 4.875rem;

            margin-bottom: 2.625rem;

            @include respond-to('small'){
                margin-bottom: 3rem;
            }

            svg {
                margin-top: 3rem;

                @include respond-to('small'){
                    margin-top: auto;
                    
                    margin-left: .375rem;
                    transform: translateY(3.1rem);
                }
            }
        }

        .footer1__content__adresses-grid {
            display: flex;

            justify-content: flex-start;
            column-gap: 12.5rem;

            @include respond-to('small'){
                column-gap: normal;

                flex-direction: column;
                @include normal-text-font();
                color:  $our-gray;
            }

            .footer1__content__adresses-grid__addy {
                @include normal-text-font();
                display: flex;
                flex-direction: column;

                @include respond-to('small'){
                    margin: 1rem 1rem 1rem 1rem;
                    text-align: center;
                    & > * {
                        margin: 0.5rem 1rem 0.5rem 1rem;
                    }
                    br{
                        display: none;
                    }
                    em{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.5rem;    
                    }
                }

                em {
                    @include card-title-font();
                }
            }

            .footer1__content__adresses-grid__follow-us {

                @include respond-to('small'){
                    margin: 1rem 1rem -1rem 1rem;
                    
                    display: flex;
                    flex-direction: column;
                }

                em {
                    @include card-title-font();

                    @include respond-to('small'){
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.5rem; 
                        text-align: center;
                    }
                }

                .footer1__content__adresses-grid__follow-us__icon-box {
                    display: flex;
                    justify-content: flex-start;

                    column-gap: 1.5rem;
                    margin-top: 1.125rem;

                    @include respond-to('small'){
                        flex-direction: row;
                        justify-content: space-around;
                        margin: 1rem 1rem 4rem 1rem;
                    }

                    .footer1__content__adresses-grid__follow-us__icon-box__icon {
                        border-radius: 50%;
                        background-color: $our-gray;
                        width: 3rem;
                        height: 3rem;

                        svg {
                            display: block;
                            margin: auto auto auto auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
