// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.site-content {
    padding-top: $desktop-header-height;

    @include respond-to('small'){
        padding-top: 0;
    }
}


@include respond-to('small'){
    .section1-image{
        @include padding-and-margin-reset();
        background-image: url("../../images/background1-phone.png");
        background-repeat: no-repeat;
        height: 28.9375rem;
        width: 100%;

    }
}

.section1 {

    background-image:
        url("../../images/background1.png");
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;

    @include respond-to('small'){
        background-image: none;
        height: 16.5rem;
        background-color:  $our-gray;
        padding-top: 2rem;
        margin-top: -3px; // nisam nasao drukciji nacin
    }

    .card1 {
        left: 12.25rem;
        top: 12.875rem;
        
        @include respond-to('small'){
            left:0rem;
            top: 0;
        }
    }
}

div.intersection{
    @include respond-to('small'){
        @include padding-and-margin-reset();
        height: 3.125rem;
        width: 100%;
        background-color:  $our-green;
    }
}


.section2 {

    .section2__h1 {
        @include section-title-font();
        margin: 7.5rem auto 5.375rem auto;
        text-align: center;

        @include respond-to('small'){
            color:  $our-gray;
            margin: 3rem 2rem 6.625rem 2rem;
        }
    }

    .card2-container {
        display: flex;
        justify-content: space-between;
        
        margin: 5.375rem 6rem 7.5rem 6rem;

        @include respond-to('small'){
            flex-direction: column;
            justify-content: normal;
            
            margin: auto 2rem auto 2rem;
        }

        .card2 {
            margin: auto .75rem auto .75rem;
            padding: 2rem 2.125rem 2rem 2rem;

            @include respond-to('small'){
                padding: 0 0 0 0;
                margin: 0 0 5.75rem 0;
            }

            .card2__sec1 {
                .card2__sec1-icon-container {
                    height: 7.5rem;
                    width: 7.5rem;
                    margin-right: 1.5rem;

                    @include respond-to('small'){
                        transform: translateY(-3.75rem);
                        margin-bottom: -2rem;
                        margin-right: 0;
                        svg {
                            margin: auto auto auto auto;
                        }
                    }
                }

                .card2__sec1__titles {
                    .card2__sec1__titles__h1 {
                        margin: .3125rem .3125rem .3125rem .3125rem;
                        
                        @include respond-to('small'){
                            margin: 0;
                        }
                    }

                    .card2__sec1__titles__h2 {
                        margin: .3125rem .3125rem .3125rem .3125rem;
                    }
                }
            }

            .card2__sec2 {
                .card2__sec2__p {
                    @include respond-to('small'){
                        margin: 1rem 1rem 1.5rem 1rem;
                    }
                }
            }

        }
    }
}

.section3 {
    background-color: $our-gray;
    padding-top: 4rem;

    @include respond-to('small'){
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .section3__h1 {
        @include section-title-font();
        color: $our-white;
        text-align: center;
        margin: auto auto 7.3125rem auto;

        @include respond-to('small'){
            margin: auto 2rem 2rem 2rem;
        }
    }

    .section3__subsection1 {
        display: flex;
        flex-wrap: nowrap;
        margin: auto 6.75rem 8rem 8rem;
        justify-content: space-between;
        height: 30rem;

        @include respond-to('small'){
            flex-direction: column-reverse;
            margin: 0;
            justify-content: normal;
            height: auto;
        }

        .card3 {
            display: flex;

            @include respond-to('small'){
                display: block;
            }

            .card3__rectangle {
                width: 2rem;
                height: 100%;
                background-color: $our_green;

                @include respond-to('small'){
                    width: auto;
                    height: 1rem;
                }
            }

            @include respond-to('small'){
                .card3__image{
                    height: 22.5rem;
                    width: 100%;
                }
            }
        }

        .section3__subsection1__article {
            margin-right: 9rem;
            margin-bottom: 2rem;
            height: 27.1875rem;

            @include respond-to('small'){
                margin-right: auto;
                height: auto;
            }

            h1 {
                @include subsec_title_font();
                color: $our-white;
                margin: 0 0 12 0;

                @include respond-to('small'){
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 1.167;
                    color:  $our-white;
                    text-align: center;
                    margin: 1.5rem 2rem 1.5rem 2rem;
                }

            }

            p {
                @include normal-text-font();
                color: $our-white;
                width: 43.5rem;

                @include respond-to('small'){
                    margin: auto 2rem 1rem 2rem;
                    width: auto;
                }
            }
        }

        

    }

    .section3__subsection2 {

        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        margin: 9rem 6.75rem 8rem 8rem;
        justify-content: space-between;
        height: 30rem;

        @include respond-to('small'){
            flex-direction: column-reverse;
            margin: 0;
            justify-content: normal;
            height: auto;
        }

        .card3 {
            display: flex;
            margin-right: 10rem;
            @include respond-to('small'){
                display: flex;
                flex-direction: column-reverse;
                margin-right: 0;
            }

            .card3__rectangle {
                width: 2rem;
                height: 100%;
                background-color: $our_green;

                @include respond-to('small'){
                    width: auto;
                    height: 1rem;
                }
            }

            @include respond-to('small'){
                .card3__image{
                    height: 22.5rem;
                    width: 100%;
                }
            }
        }

        .section3__subsection2__article {
            margin-right: 0;
            margin-bottom: 2rem;
            height: 27.1875rem;

            @include respond-to('small'){
                margin-right: auto;
                height: auto;
            }

            h1 {
                @include subsec_title_font();
                color: $our-white;
                margin: 0 0 12 0;

                @include respond-to('small'){
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 1.167;
                    color:  $our-white;
                    text-align: center;
                    margin: 1.5rem 2rem 1.5rem 2rem;
                }

            }

            p {
                @include normal-text-font();
                color: $our-white;

                @include respond-to('small'){
                    margin: auto 2rem 1rem 2rem;
                }
            }
        }

    }

    .section3__button-container {
        display: flex;
        position: relative;

        @include respond-to('small'){
            display: none;
        }

        .section3__button {
            background: #87DE87;
            border-radius: .75rem;
            height: 4.5rem;
            width: 16.5rem;
            margin: auto auto 6rem auto;
            //font
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.167;
            text-align: center;
            text-transform: uppercase;
            color: #333333;
            //font

            @include respond-to('small'){
                display: none;
            }
        }
    }
}

.glider-section {
    .glider-section__wrapper {
        margin-top: 5rem;

        @include respond-to('small'){
            margin-top: auto;
        }

        .glider-section__title {
            margin-bottom: 5rem;

            @include respond-to('small'){
                margin: 3rem 2rem 3rem 2rem;
            }
        }

        .glide {
            position: relative;

            @include respond-to('small'){
                .glide__track{
                    .glide__slides{
                        .glide__slide{
                            img {
                                height: 20.0625rem;
                            }
                        }
                    }
                }
            }
            
            .glide__arrows {
                position: absolute;
                bottom: 9rem;
                z-index: 2;

                padding-left: 8.125rem;
                padding-right: 8.125rem;

                @include respond-to('small'){
                    padding-left: 2.625rem;
                    padding-right: 2.625rem;
                }

                .glide__arrow--left,
                .glide__arrow--right {
                    width: 3rem;
                    height: 3rem;

                    @include respond-to('small'){
                        width: 2rem;
                        height: 2rem;
                    }

                    svg {
                        display: block;
                        margin: auto auto auto auto;
                        height: 75%;
                        width: 75%;
                    }

                    &:hover {
                        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 1);
                    }
                }


            }
        }

    }
}

.section4 {
    margin-bottom: 7.5rem;

    @include respond-to('small'){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;
    }

    .section4__text-box {
        position: relative;
        margin: 7.5rem auto 4.375rem auto;

        @include respond-to('small'){
            margin: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .section4__text-box__h1 {
            @include section-title-font();

            @include respond-to('small'){
                color:  $our-gray;

                margin: 3rem 1rem auto 1rem;
            }
        }

        .section4__text-box__p {
            @include normal-text-font();
            width: 52.5rem;

            @include respond-to('small'){
                color:  $our-gray;
                width: auto;
                margin: 2rem 2rem 2rem 2rem;
            }
            text-align: center;
        }
    }
}